<?xml version="1.0" encoding="utf-8"?>
<SiteSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DbString><![CDATA[Data Source=(local);Initial Catalog=GGWeiXin;User id=sa;pwd=123456]]></DbString>
  <Cookies>GGDIYWeiXin</Cookies>
  <Domain>wx.yueqiume.com</Domain>
  <SiteName>约球么</SiteName>
  <CodePage>utf-8</CodePage>
  <UploadMainFolder>/Files/</UploadMainFolder>
  <AllowFile>.jpg|.gif|.bmp|.png|.ppt|.pdf|.zip|.rar|.doc|.txt|.flv|.wma|.wmv|.asf|.mpg|.mpeg|.avi|.mp3|.amr|.mp4|.swf|.xls|.csv</AllowFile>
  <MaxFileSize>104857600</MaxFileSize>
  <SiteDebug>0</SiteDebug>
  <AccessTokenLife>700</AccessTokenLife>
  <ExtendName>.aspx</ExtendName>
  <RootKey>qiuzhi526</RootKey>
  <WeiXinAppID>wx8274fe1c6d577dce</WeiXinAppID>
  <WeiXinAppSecret>bb39641f807014633d0a8af312142218</WeiXinAppSecret>
  <WeiXinToken>ggweixin</WeiXinToken>
  <QrCode>/images/qrcode.jpg</QrCode>
  <!--为空表示使用高级接口的临时二维码进行粉丝推荐，不为空则表示使用当前字符为前缀后加粉丝在系统中的UserID-->
  <SpreadTag>@</SpreadTag>
  <!--是否每次加载时重新根据ManageMenu.config自动生成数据库权限条目，生产环境请设置为false-->
  <PowerItemInited>true</PowerItemInited>
  <!--百度JS API如果调用的是1.4的版本，下面的Key可以随意，1.5以上的版本需要使用KEY-->
  <BaiduMapKey>D6b1a55ccccda62a370e45d8a5cc89ac</BaiduMapKey>
  <!--微信提交的地理坐标与百度地图的地理位置经度偏差值-->
  <LongitudeDiff>0.00634433</LongitudeDiff>
  <!--微信提交的地理坐标与百度地图的地理位置纬度偏差值-->
  <LatitudeDiff>0.00595267</LatitudeDiff>
  <!--客服长期未回复消息时自动释放接入的时间间隔，单位为分钟，不应超过48小时-->
  <CustServiceTimeOut>10</CustServiceTimeOut>
  <EmailSettings>
    <Smtp>smtp.exmail.qq.com</Smtp>
    <Port>25</Port>
    <Sysemail>490789001@qq.com</Sysemail>
    <Username>490789001@qq.com</Username>
    <Password>123456</Password>
  </EmailSettings>
</SiteSettings>